body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;

  background-color: #557A95;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: default;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

* {
  font-family: "Copenhagen Grotes Nova";
  font-weight: normal;
}